.block-layered-nav .filter-wrapp ol li a:hover:after{
	right:3px\9;
}

.block-layered-nav .swatch-link.has-image img{
	border:1px solid transparent;
	left:-1px\9;
}

.block-layered-nav .filter-wrapp ol li a .item-count:before{
	display:none\9;
}

.products-grid .item .item-inner .box-image{
	margin:1px\9;
}