<div class="footer-block-title">
    <h2>Opening Hours</h2>
</div>
<div class="footer-block-content">
    <ul>
        <li><span class="day">Monday:</span><span class="hour">8am - 11pm</span></li>
        <li><span class="day">Tuesday:</span><span class="hour">8am - 11pm</span></li>
        <li><span class="day">Wednesday:</span><span class="hour">8am - 11pm</span></li>
        <li><span class="day">Thuresday:</span><span class="hour">8am - 11pm</span></li>
        <li><span class="day">Friday:</span><span class="hour">7:30am - Midnight</span></li>
        <li><span class="day">Saturday:</span><span class="hour">10am - 8pm</span></li>
    </ul>
</div>
<!--------------------------------------------------------------------------------------------------->
<div class="footer-block-title">
    <h2>Contact Us</h2>
</div>
<div class="footer-block-content">
    <ul>
        <li><span>Address : No 40 Baria Sreet 133/2 Arizona City, AZ, United States</span></li>
        <li><span>Mail : support@job4u.domain</span></li>
        <li><span>Phone 1 : 0123456789<br/>
                  Phone 2 : 0123456789</span></li>
    </ul>
</div>