<?xml version="1.0"?>
<config>
	<global>
		<models>
			<facebook>
				<class>Sm_Facebook_Model</class>
			</facebook>
		</models>
		<blocks>
			<facebook>
				<class>Sm_Facebook_Block</class>
			</facebook>
		</blocks>
		<helpers>
			<facebook>
				<class>Sm_Facebook_Helper</class>
			</facebook>
		</helpers>
		<resources>
			<facebook_setup>
				<setup>
					<module>Sm_Facebook</module>
				</setup>
			</facebook_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<facebook>
				<use>standard</use>
				<args>
					<module>Sm_Facebook</module>
					<frontName>facebook</frontName>
				</args>
			</facebook>
		</routers>
		<layout>
			<updates>
				<facebook module="Sm_Facebook">
					<file>sm/facebook.xml</file>
				</facebook>
			</updates>
		</layout>
		<translate>
			<modules>
				<Sm_Facebook>
					<files>
						<default>Sm_Facebook.csv</default>
					</files>
				</Sm_Facebook>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<Sm_Facebook>
					<files>
						<default>Sm_Facebook.csv</default>
					</files>
				</Sm_Facebook>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<facebook_cfg translate="title" module="facebook">
											<title>SM Facebook Setting</title>
										</facebook_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slider module="Sm_Facebook">
					<file>sm/facebook.xml</file>
				</slider>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<facebook_cfg>
			<general>
				<active>1</active>
				<facebook_type>2</facebook_type>	
				<show_header>1</show_header>
				<facebook_height>275</facebook_height>
			</general>

			<active_feed_setting>
				<hostdomain>http://www.magentech.com</hostdomain>
				<show_recommen>1</show_recommen>
				<theme_style>light</theme_style>
			</active_feed_setting>
			
			<like_box_setting>
				<pageid>https://www.facebook.com/MagenTech</pageid>
				<fannumber>9</fannumber>
				<show_stream>0</show_stream>
				<bordercolor_like>AAAAAA</bordercolor_like>
			</like_box_setting>
			
			<recommen_setting>
				<recommendomain>http://www.magentech.com</recommendomain>
				<theme_style_2>light</theme_style_2>
			</recommen_setting>
			
			<advanced>
				<pretext>Lorem ipsum dolor sit amet</pretext>
				<posttext></posttext>
			</advanced>
		</facebook_cfg>
	</default>
</config>