<?xml version="1.0"?>
<config>
	<tabs>
		<sm>
			<label>MagenTech.Com</label>
			<sort_order>207</sort_order>
		</sm>
	</tabs>
	<sections>
		<facebook_cfg translate="label" module="facebook">
			<label>SM Facebook</label>
			<tab>sm</tab>
			<frontend_type>text</frontend_type>
			<sort_order>150</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<!-- Begin General Settings Group -->
				<general translate="label" module="facebook">
					<expanded>1</expanded>
					<label>General Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enable/Disable</label>
							<sort_order>1</sort_order>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_enabledisable</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<facebook_type translate="label">
							<label>FaceBook Option</label>
							<frontend_type>select</frontend_type>
							<source_model>facebook/system_config_source_facebookType</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook_type>
						<show_header translate="label">
		            		<label>Show Header</label>
		            		<frontend_type>select</frontend_type>
		            		<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>3</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_header>	
						<facebook_height translate="label">
							<label>Height</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</facebook_height>						
					</fields>
				</general>
				<!-- End General Settings Group -->

				<!-- Begin active_feed_settings Group -->
				<active_feed_setting translate="label">
					<label>Activity Feed Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<hostdomain translate="label">
							<label>Domain</label>
							<frontend_type>text</frontend_type>
							<comment>The domain to show activity for. XFBML defaults to the domain plugin is on</comment>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</hostdomain>
						<show_recommen translate="label">
		            		<label>Show Recommendations</label>
		            		<frontend_type>select</frontend_type>
		            		<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>2</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_recommen>						
						<theme_style translate="label">
							<label>Theme Style</label>
							<frontend_type>select</frontend_type>
							<source_model>facebook/system_config_source_themeStyle</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</theme_style>
					</fields>
				</active_feed_setting>
				<!-- End active_feed_setting Group -->
				
				<!-- Begin like_box_settings Group -->
				<like_box_setting translate="label">
					<label>Like Box Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<pageid translate="label">
							<label>Url of the Facebook</label>
							<frontend_type>text</frontend_type>
							<comment>The URL of the Facebook page for this Likebox</comment>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pageid>
						<fannumber translate="label">
							<label>Fans Number</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</fannumber>
						<show_stream translate="label">
		            		<label>Show Stream</label>
		            		<frontend_type>select</frontend_type>
		            		<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>3</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_stream>						
						<bordercolor_like translate="label">
							<label>Border Color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</bordercolor_like>
					</fields>
				</like_box_setting>
				<!-- End like_box_settings Group -->
				
				<!-- Begin recommen_settings Group -->
				<recommen_setting translate="label">
					<label>Recommendations Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>4</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<recommendomain translate="label">
							<label>Domain</label>
							<frontend_type>text</frontend_type>
							<comment>The domain for which to show recommendations</comment>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</recommendomain>
						<theme_style_2 translate="label">
							<label>Theme Style</label>
							<frontend_type>select</frontend_type>
							<source_model>facebook/system_config_source_themeStyle</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</theme_style_2>
					</fields>
				</recommen_setting>
				<!-- End recommen_settings Group -->
				
				<!-- Begin Advanced Group -->
				<advanced translate="label">
					<label>Advanced Setting</label>
					<frontend_type>text</frontend_type>
					<sort_order>7</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<pretext translate="label">
							<label>Pre-text</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pretext>
						<posttext translate="label">
							<label>Post-text</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</posttext>
					</fields>
				</advanced>
				<!-- End advanced Group -->

				<!-- Start product_information -->
				<product_information translate="label">
					<label>Product Information</label>
					<frontend_type>text</frontend_type>
					<sort_order>8</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<author translate="label">
							<label><![CDATA[<p>Author: <a target="_blank" title="Magen Tech" href="http://www.magentech.com">Magen Tech</a></p>
											<p>Vesion: 1.0.0</p>
											<p>Userguide: <a target="_blank" title="Userguide" href="http://www.magentech.com/extensions/extension-user-guides">Userguide</a></p>
											<p>Support: <a target="_blank" href="http://www.magentech.com/forum">http://www.magentech.com/forum</a></p>
								]]>
							</label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
						</author>
					</fields>
				</product_information>
				<!-- End product_information -->
				
			</groups>
		</facebook_cfg>
	</sections>
</config>